<%layout('layouts/boilerplate')%>

  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="/css/about.css">
  </head>

  <div class="wrapper">
    <h1>Meet our Contributers</h1>
    <div class="our_team">
      <div class="team_member">
        <div class="member_img">
          <img src="https://i.ibb.co/NK4SzkC/nareshvai.jpg" alt="nareshvai">
          <div class="social_media">
            <div class="facebook item"><a href="https://www.facebook.com/profile.php?id=100056763829349"
                target="_blank"><i class="fab fa-facebook-f"></i></a></div>
          </div>
        </div>
        <h3>Naresh Bohara</h3>
        <span>BSc CSIT 2nd Semester</span>
        <p>Meet Naresh Bohara, a dedicated student from Kailali, Nepal. He is currently studying at Kailali Multiple
          Campus. Naresh is passionate about traveling, reading, and listening to music, and we are excited to have him
          on our team.</p>
      </div>
      <div class="team_member">
        <div class="member_img">
          <img src="https://i.ibb.co/zQMsvP1/anish.png" alt="anish">

          <div class="social_media">
            <div class="facebook item"><a href="https://www.facebook.com/anish.joshi.376043" target="_blank"><i
                  class="fab fa-facebook-f"></i></a></div>
          </div>
        </div>
        <h3>Anish Joshi</h3>
        <span>BSc CSIT 2nd Semester</span>
        <p>Meet Anish Joshi, a dedicated student from Kailali, Nepal. He completed his studies and passionate about
          fitness,reading,and drawing. He brings a unique perspective and excited to have him on our team.</p>
      </div>
      <div class="team_member">
        <div class="member_img">
          <img src="https://i.ibb.co/zhLjJ8f/aashish.png" alt="aashish">
          <div class="social_media">
            <div class="facebook item"><a href="https://www.facebook.com/1imbless" target="_blank"><i
                  class="fab fa-facebook-f"></i></a></div>
          </div>
        </div>
        <h3>Aashish Chaudhary</h3>
        <span>BSc CSIT 2nd Semester</span>
        <p>Meet Aashish Chaudhary, a dedicated student from Kailali, Nepal. He brings his unique set of skills and
          experience and is passionate about various interests. We are excited to have him on our team.</p>
      </div>
      <div class="team_member">
        <div class="member_img">
          <img src="https://i.ibb.co/qWLW9Zy/harrishkmc.jpg" alt="harrishkmc">
          <div class="social_media">
            <div class="facebook item"><a href="https://www.facebook.com/bmywinter" target="_blank"><i
                  class="fab fa-facebook-f"></i></a></div>
          </div>
        </div>
        <h3>Harish Chhetri</h3>
        <span>BSc CSIT 2nd Semester</span>
        <p>Harish is a hardworking and ambitious individual, constantly seeking new challenges and opportunities to
          improve himself. We are confident that Harish will be a valuable asset to our team and we look forward to his
          contributions.</p>
      </div>
    </div>
  </div>
  </div>